.env
db.sqlite3

paperless_auth/__pycache__
paperless_auth/migrations
paperless_auth/serializers/__pycache__
paperless_auth/views/__pycache__

paperless_backend/__pycache__
paperless_backend/migrations
paperless_backend/views/__pycache__
paperless_backend/proto/__pycache__
paperless_backend/proto/pdf_generator_pb2.py
paperless_backend/proto/pdf_generator_pb2_grpc.py
paperless_backend/services/__pycache__
paperless_backend/schema/__pycache__

paperless_core/__pycache__